*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contain h1{
    font-size: 3rem;
}


.dice{
    font-size: 100px;
}


#totalRolls{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


#roll{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}