*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-color: rgb(206, 214, 224); 
    color:aliceblue; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

header{
    background-color: #1a1741;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
    border-bottom: #00ccff solid 1px;
    width: 100%;
    position: fixed;
    top: 0;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px
}

header nav a{
    color: rgb(206, 218, 237);
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}

.start{
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(245, 250, 255);
    box-shadow: 0 0 10px #054656, inset 0 0 10px rgba(10, 0, 86, 0.73);
}
.start a{
    color:#0A192F
}

.jobimg{
    width: 20%;
    height: 75px;
    border-radius: 20px;
    object-fit: cover;
    display: inline-block;
}


