*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(286, 93%, 5%);
}



.Calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(177, 194, 213);
    padding: 20px;
    border-radius: 20px;
    
    
    
}


.calculatortheme{
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 200%;
    padding: 10px;
    align-items: center;
    
}


.theme{
    display: flex;
    flex-direction: row;
    gap:20px
}

.numbers{
    display: flex;
    flex-direction: column;
    
   
    
}

.themebutton{
    display: flex;
    flex-direction: row;
    background-color: hsl(224, 26%, 46%);
    width: 50px;
    height: 20px;
    border-radius: 30px;
    align-items: center;
    padding: 2px 4px;
    
}

.redcircle{
    background-color: hsl(6, 63%, 50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.t{
    margin-top: 18px;
}

.a123{
    margin-left: 27px;
}


.calc{
    margin-top: 16px;
}

.nums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    


}

.nums div{
    font-size: 2.2rem;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: hsl(0, 100%, 94%);
    font-weight: 600;
    
}


.display{
    background-color: hsl(267, 77%, 12%);
    width: 100%;
    height: 110px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



#delete{
    color:rgb(143, 6, 6)
}


#equal{
    color: rgb(27, 135, 0)
}